# dependencies
node_modules
.pnpm-store

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env
.env
.env.*.local

# build outputs (repo-level)
build
dist

# ✅ BUT KEEP the action runner dist in repo (required for Marketplace actions)
!packages/runner/dist/
!packages/runner/dist/**
